# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/
venv/
ENV/

# OS files
.DS_Store

# Logs
*.log

# Local environment files
.env
.env.*

# Databases
*.db
*.sqlite
*.sqlite3
*.sqlitedb
*.mdb
*.accdb

# SQLite journal/WAL/SHM files
*.sqlite3-journal
*.db-journal
*-journal
*-wal
*-shm

# PyCharm
.idea/
